{% extends 'base.html' %}

{% load static%}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/about-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if messages %}
                    {% for message  in messages %}
                        <div class="alert alert-primary mg-5" role="alert">
                            {{ message }}
                        </div>
                    {% endfor%}
                {% endif %}
                <div class="col-md-12">
                    <a class="btn btn-sm btn-primary" href="{% url 'post:newpost' %}">ثبت  جدید</a>
                </div>

                {% if posts %}
                    {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'post:post_detail' post.slug %}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.short_description}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{post.wirter__username}}</a>
                            on {{post.create_on}}
                        </p>
                        <p class="post-meta">
                            <a href="{% url 'post:editpost' post.id %}">ویرایش</a>
                            <a href="{% url 'post:deletepost' post.id %}">حذف</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                        داده ای وجود ندارد
                    </div>
                {% endif%}
                </div>
        </div>
    </div>
</main>
{% endblock content %}